@using CalleStore.ViewModels
@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <title>CALLE STORE</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <header>
        <a href="@Url.Action("Index", "HOME")"><img id="logo" src="~/img/logo.png"></a>
    </header>

    <div class="allData">
        <div class="loginContainer">
            <form class="HasLogin">
                <h1>JÁ TENHO CADASTRO</h1>
                <label id="nameForm" for="">E-MAIL</label>
                <input type="text">
                <label for="">SENHA</label>
                <input type="text">

            </form>
            <div class="button">
                <button>ENTRAR</button>
            </div>
            <div class="remember">
            <h1>ESQUECI MINHA SENHA</h1>

                <form class="formRemember" action="">
                    <label for="">E-MAIL</label>
                    <input type="email">
                </form>
                <div class="button">
                    <button>RECUPERAR SENHA</button>
                </div>
            </div>
        </div>


        <div class="loginContainer">
            <form class="NotHasLogin">
                <h1>AINDA NÃO TENHO CADASTRO</h1>
                <label for="">Nome Completo</label>
                <input type="text">
                <label for="">E-MAIL</label>
                <input type="email">
                <label for="">Senha</label>
                <input type="password">
                <label for="">Confirmar Senha</label>
                <input type="password">
                <label for="">CPF</label>
                <input type="number" maxlength="12">

            </form>
            <div class="button">
                <button>CADASTRAR-SE</button>
            </div>
        </div>
    </div>
    </div>
</body>