@{
	ViewData["Title"] = "Loja";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		Calle
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Nossa História
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Tudo começou em Barra Bonita, na Zona Norte. Um sonho realizado: ser proprietário de uma loja de
						produtos para skateboards. Foi o início de uma história que eu, João Paulo, comecei do zero, com
						uma loja localizada no bairro Sonho Nosso.

						Sonho Nosso é um bairro humilde de Barra Bonita, onde viviam muitos garotos sem condições
						financeiras, cuja diversão era assistir aos skatistas andarem na pista da Zona Norte.
						Vivenciando essa cena quase todos os dias, desenvolvi a ambição de oferecer oportunidades para
						quem não tinha condições.

						A partir disso, abri minha loja com o objetivo de trazer produtos a preços acessíveis. Sempre
						que podia, disponibilizava peças e roupas para crianças e adolescentes que não tinham como
						comprá-las. Com o tempo, a loja foi crescendo, e meu sonho, aumentando a cada dia. Foi então que
						decidi produzir alguns produtos próprios.

						Começamos com a marca ZN e, mais tarde, expandimos para uma marca própria. Assim nasceu a CALLE,
						uma marca registrada diretamente de Barra Bonita. Hoje, contamos com produtos de fabricação
						própria, incluindo calças, shorts, camisas, camisetas, bonés, shapes para skate, bolsas e outros
						acessórios.

					</p>

					<p class="stext-113 cl6 p-b-26">
						Com alguns anos de trajetória, hoje estamos em um novo endereço: uma loja mais organizada e
						harmoniosa, preparada para oferecer o melhor aos nossos clientes da região. Agora, com nosso
						novo site, podemos alcançar ainda mais clientes e, de forma prática e estilosa, realizar vendas
						para todo o Brasil!
					</p>

					<p class="stext-113 cl6 p-b-26">
						Siga CALLE | ZonaNorte_skateshop
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="~/images/about-01.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Nossa Missão
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Nossa missão é fortalecer cada vez mais a cultura do Hip-Hop nacional. Isso inclui o
						skateboarding, o break, o rap e outros elementos que compõem o nosso Hip-Hop.

						Nos dedicamos a ajudar e fortalecer aqueles que não têm condições financeiras para montar um
						skate ou comprar um tênis que os ajude a evoluir em suas manobras. Recentemente, tomei a
						iniciativa de oferecer aulas de skate para quem quiser aprender, sem restrições de idade ou
						cobranças — apenas por amor ao skate e à minha comunidade.
					</p>

					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">
							É nas pequenas ações de solidariedade que reside a grandeza humana.
						</p>

						<span class="stext-111 cl8">
							- João Paulo
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="~/images/about-02.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>