/*IMAGENS E DETALHES*/
.container-detalhes-imagens {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.imagens-pequenas {
    display: flex;
    flex-direction: column;

}
.imagens-pequenas img {
    width: 150px;
    margin-bottom: 25px;
    cursor: pointer;
}

.imagem-maior {
    height: 600px;

}

.imagem-maior img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.detalhes {
    text-align: center;
    border: 1px solid;
    width: 30%;
}

.detalhes hr {
    width: 80%;
}

.detalhes a {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

.tamanho-quantidade {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 40px;
}

.tamanho {
    text-align: start;
}
.tamanho button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgba(0 0 0 / 15%);
    color: rgba(0 0 0 / 70%);
    cursor: pointer;
    border-radius: 10px;
}

.tamanho button:hover{
    background-color: #000;
    color: #fff;

}

.quantidade input{
    display: block;
    position: relative;
    width: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    left: 35px;
    text-align: center;
}

.patternButton {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 60px;
}
.container-descricao {
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 50px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#patternMargim {
    margin-top: 30px;
    margin-bottom: 30px;
}

